{% extends "model-page.html" %}

{% block content %}
<h2 class="page-title">Cadastro de Evento</h2>

<div class="form-card">

    <form action="submit" method="POST" class="form-default">
        {% csrf_token %}

        <input type="hidden" name="id_evento" value="{{ evento.id }}">

        <label>Título:</label>
        <input type="text" name="titulo" value="{{ evento.titulo }}" required>

        <label>Data do Evento:</label>
        <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}" required>

        <label>Descrição:</label>
        <textarea name="descricao" rows="5">{{ evento.descricao }}</textarea>

        <label>Local do Evento:</label>
        <input type="text" name="local" value="{{ evento.local }}">

        <div class="actions-row mt-20">
            <button type="submit" class="btn pastel-blue">Salvar</button>
            <a href="/" class="btn pastel-gray">Cancelar</a>
        </div>

    </form>
</div>

{% endblock %}