{% extends "model-page.html" %}

{% block content %}
<h2>Cadastro de Evento</h2>

<form action="submit" method="POST">
    {% csrf_token %} <!-- Aula 04: Incluindo o token CSRF para proteger o formulário contra ataques de falsificação de solicitação entre sites -->
    <label>Título:</label>
    <br>
    <input type="text" name="titulo" size="23">
    <br>
    <label>Data do Evento:</label>
    <br>
    <input type="datetime-local" name="data_evento">
    <br>
    <label>Descrição:</label>
    <br>
    <textarea name="descricao" rows="5" cols="24"></textarea>
    <br><br>
    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
</form>

{% endblock %}