<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="login-body">

    <div class="login-container">

        <h1 class="login-title">Login</h1>

        <form action="submit" method="POST" class="login-form">
            {% csrf_token %}

            <label>Usuário</label>
            <input type="text" name="username" placeholder="Digite seu usuário">

            <label>Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha">

            <button type="submit" class="btn-login">Entrar</button>
        </form>

        {% for message in messages %}
        <div class="message-error">
            <strong>Erro:</strong> {{ message }}
        </div>
        {% endfor %}

    </div>

</body>
</html>